---
const products = [
{
  id: 1,
  thietbi: "Pin Lithium EASYWAY 51,2V-100Ah-5,2kWh",
  he: "On-grid",
  pha: "1 Pha",
  brand: "Solis",
  congsuat: "5kW",
  logobrand: "/images/solis.png",  
  anhsanpham: "/images/thiet-bi/battery/pin-easyway-10.png",
  giaban: "25.000.000",
  },
{
  id: 2,
  thietbi: "'Pin Lithium EASYWAY 51,2V-200Ah-10,24kWh",
  he: "On-grid",
  pha: "1 Pha",
  brand: "Solis",
  congsuat: "10kW",
  logobrand: "/images/solis.png",  
  anhsanpham: "/images/thiet-bi/battery/pin-easyway-14.3.png",
  giaban: "48.000.000",
  },
{
  id: 3,
  thietbi: "'Pin Lithium EASYWAY 51,2V-280Ah. Lưu trữ 14.3kWh",
  he: "On-grid",
  pha: "1 Pha",
  brand: "Solis",
  congsuat: "5kW",
  logobrand: "/images/solis.png",  
  anhsanpham: "/images/thiet-bi/battery/pin-easyway-5.png",
  giaban: "71.000.000",
  },


];
---


<section
aria-labelledby="product-heading"
class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3"
>
<h2 id="product-heading" class="sr-only">Products</h2>

<div
    class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3"
>
{products.map(product => (
    <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
      <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96">
        <img
          src={product.anhsanpham}
          alt={product.thietbi} {product.he} | {product.pha} | {product.brand} - {product.congsuat}
          class="h-full w-full object-cover object-center sm:h-full sm:w-full"
        />
      </div>
      <div class="flex flex-1 flex-col space-y-2 p-4">
        <h2 class="text-lg  text-gray-900 uppercase">
          <a href="#">
            <span aria-hidden="true" class="absolute inset-0"></span>
            {product.thietbi} 
          </a>
        </h2>
        {/* <p class="text-sm text-gray-500">{product.description}</p> */}
        <div
                class="flex flex-1 flex-col justify-end"
            >
               
                <p
                    class="font-medium text-center bg-red-500 rounded-md text-white p-2 text-2xl"
                >
                    {product.giaban} <sup>đ<sup>
                </p>
            </div>
      </div>
    </div>
  ))}    

</div>
</section>